<section class="full center se2f-grid">
  <span class="se2f-txt-title">Lugar del malestar</span>
  <span class="se2f-txt-directions">Seleccione la opci&oacute;n que identifique donde presenta la incomodidad.</span>
  <div class="se2f-options full">
    <form class="full flex se2f-form" ngForm>
      @for (opt of form | keyvalue; track $index) {
        <ng-container *ngIf="opt.key.startsWith('loc')">
          <span class="option" (click)="validateChoices(opt.key)">
            {{optVars[opt.key]}}<input type="hidden" name="{{opt.key}}" [(ngModel)]="form[opt.key]" />
          </span>
        </ng-container>
      }
    </form>
  </div>
  <div class="se2f-controls full flex">
    <input type="button" class="btn" value="Inicio" (click)="goHome()" />
  </div>
  <p-toast [life]="3000" [breakpoints]="{'1000px': {width: '95%', right: '2.5%'}}" (onClose)="nextAllowed()" />
</section>
