.se3f-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 5% 80% 7%;
  justify-items: left;
}

.se3f-txt-title {
  font-size: 1.9rem;
}

.se3f-txt-directions {
  font-size: 1.2rem;
}

.se3f-options {
  align-content: space-around;
}

.se3f-form {
  align-content: space-around;
  overflow-y: scroll;
  padding: 1rem 0;
}
.se3f-controls {
  align-items: center;
}
.se3f-controls .btn {
  height: fit-content;
  margin-right: 2rem;
}
.gap {
  margin-bottom: 1rem;
}
