<section class="full center se1f-grid">
    <span class="se1f-txt-title">Temperatura corporal</span>
    <span class="se1f-txt-directions">Ajuste el control para capturar su temperatura corporal actual.</span>
    <div class="full flex">
        <form ngForm class="grid center full">
            <input type="text" class="input se1f-grados" name="grados" value="{{ form['grados'] + ' &deg;C' }}" readonly />
            <p-slider class="input se1f-slider" name="grados" [(ngModel)]="form['grados']"
                      [step]="0.1" [min]="35.0" [max]="42.0" [autofocus]="true" />
        </form>
    </div>
    <div class="se1f-controls full flex">
        <input type="button" class="btn" value="Inicio" (click)="goHome()" />
        <input type="button" class="btn" value="Siguiente" (click)="validateChoice()" />
    </div>
    <p-toast [life]="3000" [breakpoints]="{'1000px': {width: '95%', right: '2.5%'}}" (onClose)="nextAllowed()" />
</section>