.result-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 5% 80% 7%;
  justify-items: left;
}

.result-txt-title {
  font-size: 1.9rem;
}

.result-txt-directions {
  font-size: 1.2rem;
}

.result-content {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: center;
  padding: 2rem;
  width: 60%;
  border-radius: 15px;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4), inset 0 0 5px 100px rgba(0,0,0,0.0);
  background-color: rgba(255,255,255,0.3);
  font-size: 1.2rem;
}

.result-app {
  align-items: center;
  font-size: 2.5rem;
  justify-self: end;
}

.app-logo {
  background: url("../../../assets/images/icon/diagnocom.webp") 50% 50% / 100% 100% no-repeat;
  margin-left: 1rem;
  width: 2.7rem;
  height: 3rem;
}

.result-txt-id { font-size: 1rem; }

.cw { grid-column: 1 / 4; }
.c23 { grid-column: 2 / 4; }
.c1 { grid-column: 1; }
.c2 { grid-column: 2; }
.c3 { grid-column: 3; }
.r1 { grid-row: 1; }
.r2 { grid-row: 2; }
.r3 { grid-row: 3; }
.r4 { grid-row: 4; }

.table {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
  display: grid;
  grid-template-columns: 10% repeat(2, 1fr);
  grid-template-rows: 2rem;
  grid-auto-rows: 1fr;
  align-items: center;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 8;
  align-self: end;
}

.result-controls {
  align-items: center;
}

.result-controls .btn {
  margin-right: 2rem;
}

.pi {
  margin-right: 0.5rem;
}

.btn .pi {
  font-size: 1rem;
  font-weight: bold;
}