.result-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 5% 80% 7%;
  justify-items: left;
}

.result-txt-title {
  font-size: 1.9rem;
}

.result-txt-directions {
  font-size: 1.2rem;
  width: 50%;
}

.result-content {
  align-content: space-around;
}

.result-controls {
  align-items: center;
}

.result-controls .btn {
  height: fit-content;
  margin-right: 2rem;
}

