.right-gap {
  margin-right: 1rem;
}

.label-biometric {
  margin: 1rem 0 2rem 0;
  justify-content: center;
  align-items: center;
}

.btn-biometric {
  margin-left: 0.5rem;
  color: transparent;
  padding: 0.2rem 0.7rem;
}

.bio-true {
  background-color: lawngreen;
}

.bio-false {
  background-color: crimson;
}
