<div class="login-browser-form flex">
  <form class="full-w flex" style="justify-content: center" [formGroup]="form" (ngSubmit)="browserAuth()">
    <label for="user" class="full-w block">
      <input type="text" class="input full-w" formControlName="username" id="user" placeholder="Usuario" />
    </label>
    <label for="pass" class="full-w block">
      <input type="password" class="input full-w" formControlName="password" id="pass" placeholder="Contraseña" />
    </label>
    <label for="biometric" class="full-w flex label-biometric" *ngIf="isMobile && firstAuthMobile">
      Habilitar biométricos:
      <input type="button" class="btn btn-biometric" id="biometric"
             formControlName="biometric"
             [ngClass]="{'bio-true': form.controls['biometric'].value, 'bio-false': !form.controls['biometric'].value}"
             (click)="toggleBiometric()"/>
    </label>
    <input type="hidden" formControlName="action" />
    <input type="submit" class="btn right-gap" value="Acceder" (click)="setAction('login')" />
    <input type="submit" class="btn" value="Registrar" (click)="setAction('register')" />
  </form>
  <p-toast [life]="5000" [breakpoints]="{'1000px': {width: '95%', right: '2.5%'}}" />
</div>
