.se-temperature-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 5% 80% 7%;
    justify-items: left;
}

.se-temperature-txt-title {
    font-size: 1.9rem;
}

.se-temperature-txt-directions {
    font-size: 1.2rem;
}

.se-temperature-slider {
    justify-content: center;
    align-content: space-around;
}

.se-temperature-controls {
    align-items: center;
}

.se-temperature-controls .btn {
    height: fit-content;
    margin-right: 2rem;
}