/* You can add global styles to this file, and also import other style files */
/**** IMPORTS ****/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer reset, primeng; /* Order */
@layer reset { /* CSS to Reset */
  .p-inputswitch .p-inputswitch-slider:before {
    width: 1.1rem;
    height: 1.1rem;
    left: 0.3rem;
    margin-top: -.56rem;
  }
  .p-confirm-dialog-message {
    margin-left: 1rem !important;
  }
  .settings-discard-changes {
    background: rgba(248, 39, 39, 0.2);
    color: darkred;
    padding: 0.5rem 1rem;
  }
  .settings-cancel-return {
    background: rgba(39, 74, 248, 0.2);
    color: darkblue;
    padding: 0.5rem 1rem;
    margin-right: 1rem !important;
  }
  .p-slider, .p-slider-range {
    height: 1rem;
    border-radius: 10px;
  }
  .p-slider-handle {
    top: 0;
    border: 2px solid #3B82F6;
  }
}

/**** GENERAL ****/
* {
  border: 0;
  margin: 0;
  font-family: "Madimi", sans-serif;
  font-weight: bold;
  user-select: none;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}
html, body { height: 100%; }


/**** COMPONENTS ****/
app-login-form {
  grid-column: 2;
  grid-row: 4;
}
app-disclaimer {
  grid-column: 2;
  grid-row: 2 / 4;
  height: 100%;
}
app-home, app-se1f, app-se2f, app-se3f, app-result, app-settings {
  grid-column: 2;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
}


/**** DISPLAYS ****/
.grid {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.block { display: block; }


/**** POSITIONING ****/
.full {
  height: 100%;
  width: 100%;
}
.full-w { width: 100%; }
.center {
  justify-items: center;
  align-items: center;
}
.center-v { align-items: center; }
.center-txt { text-align: center; }


/**** CLASSES ****/
.login-bg { background: url("./assets/images/pc/login.webp") 100% 100% / 100% 100% no-repeat; }
.main-bg { background: url("./assets/images/pc/main.webp") 50% 50% / 100% 100% no-repeat; }
.cabeza-bg { background: url("./assets/images/pc/cabeza.webp") 50% 50% / 100% 100% no-repeat; }
.respiratoria-bg { background: url("./assets/images/pc/respiratoria.webp") 50% 50% / 100% 100% no-repeat; }
.digestiva-bg { background: url("./assets/images/pc/digestiva.webp") 50% 50% / 100% 100% no-repeat; }
.interna-bg { background: url("./assets/images/pc/interna.webp") 50% 50% / 100% 100% no-repeat; }
.urinaria-bg { background: url("./assets/images/pc/urinaria.webp") 50% 50% / 100% 100% no-repeat; }
.cutanea-bg { background: url("./assets/images/pc/cutanea.webp") 50% 50% / 100% 100% no-repeat; }
.settings-bg { background: url("./assets/images/pc/settings.webp") 0 50% / 180% 100% no-repeat; }
.btn {
  border: 0;
  border-radius: 15px;
  width: fit-content;
  padding: 0.6rem 2rem;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4);
  transition: all 0.2s;
  cursor: pointer;
  background-color: white;
}
.btn:active,
.option:active {
  outline: 0;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5), inset 0 0 5px 100px rgba(0,0,0,0.1);
}
.option {
  border: 0;
  width: 50%;
  height: fit-content;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4);
  text-align: center;
  background-color: aliceblue;
  cursor: pointer;
}
.input {
  margin-bottom: 1rem;
  border: 0;
  border-radius: 15px;
  padding: 0.6rem 2rem;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4), inset 0 0 5px 100px rgba(0,0,0,0.0);
  transition: all 0.3s;
}
.input:focus {
  outline: 0;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4), inset 0 0 5px 100px rgba(0,0,0,0.1);
}
.selected {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5), inset 0 0 5px 100px rgba(0,0,0,0.1);
}
.p-toast-summary, .p-toast-detail {
  font-weight: normal !important;
}
.p-toast-message-icon {
  margin-right: 1rem;
}
.p-toast-message {
  margin-bottom: 1rem;
}
input.ng-touched.ng-invalid {
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4), inset 0 0 1px 100px rgba(255,0,0,0.3);
}
.hidden { display: none; }
.result-id { padding: 3rem 3rem 0 3rem; }


/**** FONTS ****/
@font-face {
  font-family: "Madimi";
  src: url("./assets/fonts/madimione.ttf") format("truetype");
}


/**** MEDIA QUERIES ****/
@media (max-width: 1000px) {
  .login-bg { background: url("./assets/images/mobile/login.webp") 100% 100% / 100% 100% no-repeat; }
  .main-bg { background: url("./assets/images/mobile/main.webp") 50% 50% / 100% 100% no-repeat; }
  .cabeza-bg { background: url("./assets/images/mobile/cabeza.webp") 50% 50% / 100% 100% no-repeat; }
  .respiratoria-bg { background: url("./assets/images/mobile/respiratoria.webp") 50% 50% / 100% 100% no-repeat; }
  .digestiva-bg { background: url("./assets/images/mobile/digestiva.webp") 50% 50% / 100% 100% no-repeat; }
  .interna-bg { background: url("./assets/images/mobile/interna.webp") 50% 50% / 100% 100% no-repeat; }
  .urinaria-bg { background: url("./assets/images/mobile/urinaria.webp") 50% 50% / 100% 100% no-repeat; }
  .cutanea-bg { background: url("./assets/images/mobile/cutanea.webp") 50% 50% / 100% 100% no-repeat; }
  .settings-bg { background: url("./assets/images/mobile/settings.webp") 0 50% / 180% 100% no-repeat; }
  .scroll, app-disclaimer { overflow-y: scroll; }
  .login-title { font-size: 4rem !important; }
  .login-logo { background: url("./assets/images/icon/diagnocom.webp") 50% 50% / 40% 60% no-repeat !important; }
  .login-txt-1 {
    font-size: 1.5rem !important;
    width: 100% !important;
  }
  .disclaimer-txt-content {
    width: 90% !important;
    font-size: 1rem !important;
    line-height: 2.2rem !important;
  }
  .disclaimer-control { width: 100% !important; }
  .se1f-txt-directions, .se2f-txt-directions, .se3f-txt-directions, .result-txt-directions { font-size: 1rem !important; }
  .option {
    width: 100% !important;
    padding: 0.5rem 0;
  }
  .full-w .option {
    display: block !important;
    width: 100% !important;
    margin: 1rem 0 0 0 !important;
  }
  .result-controls .btn {
    margin-right: 1rem !important;
    padding: 0.5rem 1.5rem !important;
  }
  .result-controls .btn .pi {
    font-size: 1rem !important;
    font-weight: bold !important;
    margin-right: 0.2rem !important;
  }
  .result-txt-title { font-size: 1.5rem !important; }
  .se1f-grados, .se1f-slider { width: 80% !important; }
  .result-content {
    width: 100% !important;
    font-size: 0.9rem !important;
    padding: 2rem 1rem !important;
  }
  .result-app { font-size: 1rem !important; }
  .app-logo {
    margin-left: 0.5rem !important;
    width: 1.9rem !important;
    height: 2rem !important;
  }
  .result-id { padding: 3rem 1rem 0 1rem !important; }
  .result-txt-date, .result-txt-username { grid-column: 1 / 3 !important; }
  .result-txt-date, .result-txt-id { font-size: 0.8rem !important; }
  .table { grid-template-columns: 1% repeat(2, 1fr) !important; }
  .home-user { font-size: 1.2rem !important; }
  .pi { font-size: 1.5rem !important; }
  .settings-form { width: 100% !important; }
}

@media (max-height: 670px) {
  .se2f-txt-directions, .se2f-txt-directions, .se3f-txt-directions { font-size: 0.88rem !important; }
}

@media print {
  .login-bg { background: url("./assets/images/mobile/login.webp") 100% 100% / 100% 100% no-repeat; }
  .main-bg { background: url("./assets/images/mobile/main.webp") 50% 50% / 100% 100% no-repeat; }
  .cabeza-bg { background: url("./assets/images/mobile/cabeza.webp") 50% 50% / 100% 100% no-repeat; }
  .respiratoria-bg { background: url("./assets/images/mobile/respiratoria.webp") 50% 50% / 100% 100% no-repeat; }
  .digestiva-bg { background: url("./assets/images/mobile/digestiva.webp") 50% 50% / 100% 100% no-repeat; }
  .interna-bg { background: url("./assets/images/mobile/interna.webp") 50% 50% / 100% 100% no-repeat; }
  .urinaria-bg { background: url("./assets/images/mobile/urinaria.webp") 50% 50% / 100% 100% no-repeat; }
  .cutanea-bg { background: url("./assets/images/mobile/cutanea.webp") 50% 50% / 100% 100% no-repeat; }
  .settings-bg { background: url("./assets/images/mobile/settings.webp") 0 50% / 180% 100% no-repeat; }
  .main-grid div { display: none; }
  .result-controls { display: none !important; }
  .result-txt-title, .result-app { font-size: 2rem !important; }
  .result-txt-directions { font-size: 1.3rem !important; }
  .result-content, .table { display: grid !important; }
  .result-app { display: flex !important; }
  .app-logo {
    width: 2.9rem !important;
    height: 3.2rem !important;
  }
  .result-txt-date, .result-txt-id, .result-txt-username, .table > *, .result-txt-footer {
    display: block !important;
    font-size: 1.3rem !important;
  }
}
