/* You can add global styles to this file, and also import other style files */
/**** IMPORTS ****/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


/* Order */
@layer reset, primeng;
/* Reset CSS */
@layer reset {
  /* CSS to Reset */
}

/**** GENERAL ****/
* {
  border: 0;
  margin: 0;
  font-family: "Madimi", sans-serif;
  font-weight: bold;
  user-select: none;
}
html, body { height: 100%; }


/**** COMPONENTS ****/
app-se1f, app-se2f, app-result {
  grid-column: 2;
  grid-row: 2 / 4;
  height: 100%;
  width: 100%;
}


/**** DISPLAYS ****/
.grid {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}


/**** POSITIONING ****/
.full {
  height: 100%;
  width: 100%;
}
.full-w { width: 100%; }
.center {
  justify-items: center;
  align-items: center;
}
.center-v { align-items: center; }
.center-txt { text-align: center; }


/**** CLASSES ****/
.btn {
  border: 0;
  border-radius: 15px;
  width: fit-content;
  padding: 0.6rem 2rem;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4);
  transition: all 0.2s;
  cursor: pointer;
}
.btn:active,
.option:active {
  outline: 0;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5), inset 0 0 5px 100px rgba(0,0,0,0.1);
}
.option {
  border: 0;
  width: 50%;
  height: fit-content;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.4);
  text-align: center;
  background-color: aliceblue;
  cursor: pointer;
}
.selected {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5), inset 0 0 5px 100px rgba(0,0,0,0.1);
}
.p-toast-summary, .p-toast-detail {
  font-weight: normal !important;
}
.p-toast-message-icon {
  margin-right: 1rem;
}
.p-toast-message {
  margin-bottom: 1rem;
}


/**** FONTS ****/
@font-face {
  font-family: "Madimi";
  src: url("./assets/fonts/madimione.ttf") format("truetype");
}


/**** MEDIA QUERIES ****/
@media (max-width: 1000px) {
  .scroll { overflow-y: scroll; }
  .login-title { font-size: 4rem !important; }
  .login-logo {
    background: url("./assets/images/diagnocom.webp") 50% 50% / 40% 60% no-repeat !important;
  }
  .login-txt-1 {
    font-size: 1.5rem !important;
    width: 100% !important;
  }
  .disclaimer-txt-1 {
    width: 90% !important;
    font-size: 1rem !important;
    line-height: 2.2rem !important;
  }
  .disclaimer-control { width: 100% !important; }
  .se1f-txt-directions { font-size: 1rem !important; }
  .option {
    width: 100% !important;
    padding: 0.5rem 0;
  }
  .se2f-txt-directions {
    font-size: 1rem !important;
  }
  .result-txt-directions { width: 100% !important; }
  .full-w .option {
    display: block !important;
    width: 100% !important;
    margin: 1rem 0 0 0 !important;
  }
  .result-controls .btn {
    margin-right: 1rem !important;
    padding: 0.6rem 1.5rem !important;
  }
}

@media (max-height: 670px) {
  .se2f-txt-directions {
    font-size: 0.88rem !important;
  }
}


