<section class="full center home-grid">
    <div class="home-user">
        <i class="pi pi-user"></i>{{ username }}
        <i class="pi pi-history"></i>{{ lastActivity | date:'mediumDate' }}
    </div>
    <div class="full flex home-options">
        <span class="home-btn option flex" (click)="startDiagnoCom()">
            <i class="pi pi-chevron-circle-right"></i>Iniciar sistema experto
        </span>
        <a class="home-btn option flex" href="https://diagnocom.serial30.ovh/prod-rules/prod-rules.pdf"
           download="DiagnoCom_Prod_Rules.pdf" target="{{ mobile ? '_self' : '_blank' }}">
            <i class="pi pi-file-pdf"></i>Reglas de producci&oacute;n
        </a>
        <span class="home-btn option flex" (click)="goToResults()">
            <i class="pi pi-briefcase"></i>Resultados guardados
        </span>
        <span class="home-btn option flex" (click)="goToSettings()">
            <i class="pi pi-cog"></i>Ajustes de usuario
        </span>
    </div>
    <input type="button" value="Salir" class="btn" (click)="exit()"/>
    <p-toast [life]="2000" [breakpoints]="{'1000px': {width: '95%', right: '2.5%'}}" />
</section>