<span class="disclaimer-txt-1">
El presente sistema experto infiere un diagnóstico médico preliminar basado en los síntomas
ingresados en la app.<br><br>
Se cotejan las entradas del usuario contra una base de reglas previas evaluadas por un experto
en materia de salud para dictaminar un resultado genérico.<br><br>
Se recomienda acudir al médico para obtener detalles más específicos si presenta cualquiera de
los síntomas que se exponen.<br><br>
Entiendo y estoy de acurdo:
</span>

<div class="disclaimer-control flex">
  <input type="button" value="Acepto" class="disclaimer-agree btn" (click)="aceptoClicked()">

  <input type="button" value="Salir" class="disclaimer-exit btn" (click)="salirClicked()">
</div>
